header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    color: #fff;
    background: #052d64;
    border-bottom: 2px solid #fff;
    font-family: 'Roboto';
}
span{
    color: #fdd909;
}
.blogSpan{
    color: #b59b0a;
}
.links{
    display: flex;
}
.links a{
    text-decoration: none;
    margin: 10px;
    color: #fff;
    cursor: pointer;
    transition: .3s ease-out;
}
.links a:hover{
    color: #fdd909;
    /* text-decoration: underline; */
}
.banner{
    width: 700px;
    height: 400px;
}
.artText{
    font-size: 3em;
}